<aside class="author-box" aria-label="À propos de l’auteur">
  <a class="author-photo" href="/" rel="author" aria-label="Fabrice Dubesset">
    <img
      src="/images/fabrice-dubesset-auteur.jpg"
      alt="Fabrice Dubesset, expert de la Colombie"
      loading="lazy"
    />
  </a>
  <div>
    <p class="author-kicker">À propos de l’auteur</p>
    <p class="author-name">
      <a href="/" rel="author">Fabrice Dubesset</a>, expert de la Colombie depuis 2011.
    </p>
  </div>
</aside>
